<html class="flex">

<head>
    <title>Personal Library</title>
    <link rel="icon" type="image/png" href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./public/style.css">
</head>

<body class="flex">
    <header class="titles">
        <h1>Personal Library</h1>
        <p class="subtitle">This is a Web App that keep track of your favorite books and comments.</p>
    </header>
    <hr>
    <div class="container flex">

        <h2>Test API responses</h2>
        <div id='sampleposting' class="flex flex-row wrap">
            <form action="/api/books" method="post" id="addBook">
                <label for="title">Book Title</label>
                <input type="text" id="title" name="title" placeholder="book title">
                <button type="submit">Submit</button>
            </form>
            <form action="" method="post" id="commentTest">
                <label for="idinputtest">BookId to comment on</label>
                <input type="text" name="id" placeholder="book ID" id="idinputtest">
                <label for="comment">Comment</label>
                <input type="text" id="comment" name="comment" placeholder="comment here">
                <button type="submit">Submit</button>
            </form>
        </div>
        <div id="jsonDisplay" class="flex">
            <code id="jsonResult"></code>
        </div>
        <hr>
        <div id='sampleui' class="flex">
            <h2>Sample Front-End</h2>
            <form id="newBookForm">
                <label for="bookTitleToAdd">New Book Title</label>
                <input type="text" id="bookTitleToAdd" name="title" placeholder="Moby Dick">
                <button type="submit" value="Submit" id="newBook">Submit New Book!</button>
            </form>
            <div id='display'></div>
            <div id='bookDetail' class="border">
                <p id='detailTitle'>Select a book to see it's details and comments</p>
                <ol id='detailComments'></ol>
            </div>
            <button id='deleteAllBooks'>Delete all books...</button>
        </div>
    </div>

    <hr>
    <div class="footer">
        Created by
        <a href="https://github.com/odakris?tab=repositories" target="_blank">odakris</a>
        </p>
    </div>

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
        integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
    <script src="/public/client.js"></script>
    <script>

        $(function () {
            $('#addBook').submit(function (e) {
                $.ajax({
                    url: "/api/books",
                    type: "post",
                    data: $("#addBook").serialize(),
                    success: function (data) {
                        $("#jsonResult").text(JSON.stringify(data));
                    },
                });
                e.preventDefault();
            });

            $('#commentTest').submit(function (e) {
                let id = $('#idinputtest').val();
                $.ajax({
                    url: "/api/books/" + id,
                    type: "post",
                    data: $("#commentTest").serialize(),
                    success: function (data) {
                        $("#jsonResult").text(JSON.stringify(data));
                    },
                });
                e.preventDefault();
            });
        });

    </script>
</body>

</html>